<style>
  .abc{
    font-weight: bold;
    font-size: 25px;
  }

  .navbar {
  background-color: #000;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.navbar-title {
  font-size: 24px;
  margin: 0;
}
.navbar-buttons {
  display: flex;
  gap: 10px;
}
.navbar-button {
  background-color: #0062cc;
  color: #FFFFFF;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}
.navbar-button:hover {
  background-color: indigo;
}
td{
  font-size: bolder;
}
.ab{
  color: red;
  padding: 8px 12px;
  font-size: 25px;
}

</style>

<nav class="navbar">
  <div class="navbar-buttons">
     <%= button_to 'Home', front_path, method: :get, class: 'navbar-button' %>
  </div>
  <form class="form-inline", action="/search_theatre_by_movie", method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="Movie_id", name="id" >
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<section class="vh-100 bg-image"
  style="background-image: url(<%= asset_path 'cba.jpg' %>); background-repeat: no-repeat;  background-size: cover;">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">User_id</th>
      <th scope="col">Show data</th>
    </tr>
  </thead>
  <tbody>
    <% @theatre.each do |theatre| %>
      <tr>
        <td><%= theatre.id %></td>
        <td><%= theatre.name %></td>
        <td><%= theatre.address %></td>
        <td><%= theatre.user_id %></td>
        <td><%= link_to 'show', theatre %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to 'create theatre', new_theatre_path, method: :get, class: 'navbar-button' if @current_user.role == 'owner'%>


<div class="ab"><%= flash[:notice] %></div>
</section>


