<style>

  .navbar {
  background-color: #212529;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.navbar-title {
  font-size: 24px;
  margin: 0;
}
.navbar-buttons {
  display: flex;
  gap: 10px;
}
.navbar-button {
  background-color: #0062cc;
  color: #FFFFFF;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}
.navbar-button:hover {
  background-color: indigo;
}

h1{
  display: flex;
  align-items: center;
  justify-content: center;
  background: green;
  color: white;
}
</style>


<nav class="navbar">
  <div class="navbar-buttons">
     <%= button_to 'Home', front_path, method: :get, class: 'navbar-button' %>
  </div>

</nav>


<table class="table">


      <h1 >Theatres</h1>

  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">User_id</th>
    </tr>
  </thead>
  <tbody>
    <% @theatre.each do |theatre| %>
      <tr>
        <td><%= theatre.id %></td>
        <td><%= theatre.name %></td>
        <td><%= theatre.address %></td>
        <td><%= theatre.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>


