<nav class="navbar">
  <div class="navbar-buttons">
     <%= button_to 'Home', front_path, method: :get, class: 'navbar-button' %>
  </div>

</nav>

<section class="vh-100 bg-image"
  style="background-image: url(<%= asset_path 'cba.jpg' %>); background-repeat: no-repeat;  background-size: cover;">
<table class="table">

<div align="center" class="abc">
<%= form_with model: @screen do |form| %>
  <div class="form-group">
    <%= form.label :seating_capacity %><br>
    <%= form.text_field :seating_capacity %>
    <% @screen.errors.full_messages_for(:seating_capacity).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :theatre_id %><br>
    <%= form.text_field :theatre_id %>
    <% @screen.errors.full_messages_for(:theatre_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :movie_id %><br>
    <%= form.text_field :movie_id %>
    <% @screen.errors.full_messages_for(:movie_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div class="form-group">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
</div>
</table>
<div align="center"><%= link_to 'Back', :back %></div>

</section>


<%= render "form", screen: @screen %>
<br>

