<style>

  .navbar {
  background-color: #212529;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.navbar-title {
  font-size: 24px;
  margin: 0;
}
.navbar-buttons {
  display: flex;
  gap: 10px;
}
.navbar-button {
  background-color: #0062cc;
  color: #FFFFFF;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}
.navbar-button1 {
  background-color: #0062cc;
  color: #FFFFFF;
  border: none;
  margin-left: 900px;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}
.navbar-button:hover {
  background-color: indigo;
}

h1{
  display: flex;
  align-items: center;
  justify-content: center;
  background: green;
  color: white;
}
</style>


<nav class="navbar">
  <div class="navbar-buttons">
     <%= link_to 'Home', front_path, method: :get, class: 'navbar-button' %>
  </div>
  <div class="navbar-buttons">
     <%= button_to 'Edit theatre', edit_user_path, method: :get, class: 'navbar-button1' %>
  </div>
   <div class="navbar-buttons">
      <%= button_to "Destroy", user_path, method: :delete, class: 'navbar-button', data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
   </div>


</nav>


<table class="table">


      <h1 >Show Theatres</h1>

  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Role</th>

    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @user.name %></td>
        <td><%= @user.email %></td>
        <td><%= @user.password %></td>
        <td><%= @user.role %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Back', :back %></br>

