<h1 align="center">Show user</h1>
<hr>

<p>
   <strong>Name: </strong> <%= @user.name %><br />
   <strong>Email :</strong> <%= @user.email %><br />
   <strong>Password :</strong> <%= @user.password %><br />
   <strong>Role :</strong> <%= @user.role %>
</p>

<hr />

<%= link_to 'Back', :back %></br>
<%= link_to 'edit user', edit_user_path %></br>
<%= link_to "Destroy",@user, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
