<style>

  .navbar {
  background-color: #212529;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.navbar-title {
  font-size: 24px;
  margin: 0;
}
.navbar-buttons {
  display: flex;
  gap: 10px;
}
.navbar-button {
  background-color: #0062cc;
  color: #FFFFFF;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}
.navbar-button:hover {
  background-color: indigo;
}

h1{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #80363d;
  color: white;
}

a {
    color: white;
    text-decoration: none;
    background-color: #007bff;
}

.abc{
    font-weight: bold;
    font-size: 25px;
  }
</style>

<nav class="navbar">
  <div class="navbar-buttons">
     <%= button_to 'Home', front_path, method: :get, class: 'navbar-button' %>
  </div>

</nav>

<section class="vh-100 bg-image"
  style="background-image: url(<%= asset_path 'cba.jpg' %>); background-repeat: no-repeat;  background-size: cover;">
<table class="table">

<div align="center" class="abc">
<%= form_with model: @ticket do |form| %>
  <div class="form-group">
    <%= form.label :theatre_id %><br>
    <%= form.text_field :theatre_id %>
    <% @ticket.errors.full_messages_for(:theatre_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :movie_id %><br>
    <%= form.text_field :movie_id %>
    <% @ticket.errors.full_messages_for(:movie_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :number_of_tickets %><br>
    <%= form.text_field :number_of_tickets %>
    <% @ticket.errors.full_messages_for(:number_of_tickets).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

    <%= form.submit class:"btn btn-primary" %>
<% end %>
</div>
</table>
<div align="center"><%= link_to 'Back', :back %></div>

</section>
