<h1 align="center">Show ticket</h1>
<hr>

<p>
   <strong>Alphanumeric_id: </strong> <%= @ticket.alphanumeric_id %><br />
   <strong>number_of_tickets: </strong> <%= @ticket.number_of_tickets %><br />
   <strong>Theatre_id: </strong> <%= @ticket.theatre_id %><br />
   <strong>Movie_id:</strong> <%= @ticket.movie_id %><br />
   <strong>User_id:</strong> <%= @ticket.user_id %>
</p>

<hr />

<%= link_to 'Back', :back %></br>
